# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django-specific
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
local_settings.py

# Media uploads
media/

# Ignore all migration files except __init__.py
**/migrations/*
!**/migrations/__init__.py

# Environment files
.env
.env.*

# Pytest and coverage
htmlcov/
.coverage
.tox/
.nosetests.xml
coverage.xml
*.cover
*.py,cover

# mypy
.mypy_cache/

# IDEs and editors
.idea/
.vscode/

# macOS
.DS_Store

# Build / dist / packaging
build/
dist/
*.egg-info/

# Virtualenv
venv/
ENV/
env/
.venv/

# Node (if using frontend frameworks)
node_modules/

# Docker
*.pid
*.bak
*.swp
*.tar.gz
